#wrapper
{
/* background-image:url("images/lens.jpg");

background-repeat:no-repeat; */
width:800px;
height:800px;
color:#999999;
text-align:left;
margin: 0 auto;
}
#logo
{
margin-top:10px;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
background-image:url("file:///Milena /images/fhd2.jpg");
background-repeat:no-repeat;
padding:0px;
height:112px;
width:800px;
}

h1
{
text-align:center;
color:#960;
}

#maintext
{
margin-left:auto;
margin-right:auto;
background-image:url("file:///Milena /images/lens.jpg");
background-repeat:no-repeat;
padding:10px;
color:#996600;
font-size:130%;
height:800px;
width:800px;
}
ul
{

padding: 10px;
margin: 20px;
color:#996600;
}
#navbar ul
{
margin: 0;
padding: 0;
list-style-type:none;
text-align:center;
}

#navbar ul li
 { 
 display: inline;
 padding-top:10px;
 padding-bottom:10px;
 
 
 
  }

#navbar ul li a
{
display:inline-block;
width:100px;
height:15px;
text-decoration: none;
padding: 15px 10px;
color: #B1FB17;
background-color:#667C26;

}

#navbar ul li a:hover
{
color: #667C26;
background-color: #EAC117;
}
#sign
{
text-align: center;
margin: 10px auto 0 auto;
width:400px;
padding:10px;

}
#content #contacts
{ 
width:200px;
height:200px;
margin-left:auto;
margin-right:auto;
padding:20px;

}
#content #maintext #prizes
{
width:600px;
height:800px;
margin-left:auto;
margin-right:auto;
padding:20px;
}

#navbar ul li#active a
{

display:inline-block;
width:100px;
height:15px;
text-decoration: none;
padding: 15px 10px;
color: #EAC117;
background-color:#669933;
}





